<div>
  <div class="info">
    <h1>LOGO</h1>
    <div>
      <div>Obszar dostaw: Całe Trójmiasto</div>
      <div>Godziny otwarcia: 12-24 Codziennie</div>
      <div>Kontakt: 111-111-111</div>
    </div>
  </div>

  <div class="container-dropdown">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>pizza czy makaron</mat-label>
        <mat-select
          [formControl]="pizzaOrPastasSelect"
          multiple
          (focusout)="onPizzaOrPastaSelected()"
        >
          <mat-select-trigger>
            {{pizzaOrPastasSelect.value?.[0] || ''}}
            <span
              *ngIf="(pizzaOrPastasSelect.value?.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (pizzaOrPastasSelect.value?.length || 0) - 1 }}
              {{
                pizzaOrPastasSelect.value?.length === 2 ? "other" : "others"
              }})
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let pizzaOrPasta of pizzaOrPastaList"
            [value]="pizzaOrPasta"
            >{{ pizzaOrPasta }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hot or not</mat-label>
        <mat-select
          [formControl]="hots"
          multiple
          (focusout)="onHotOrNotSelected()"
        >
          <mat-select-trigger>
            {{hots.value?.[0] || ''}}
            <span
              *ngIf="(hots.value?.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (hots.value?.length || 0) - 1 }}
              {{ hots.value?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let hot of hotList" [value]="hot">{{
            hot
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Toppings</mat-label>
        <mat-select
          [formControl]="toppings"
          multiple
          (focusout)="onToppingsSelected()"
        >
          <mat-select-trigger>
            {{toppings.value?.[0] || ''}}
            <span
              *ngIf="(toppings.value?.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (toppings.value?.length || 0) - 1 }}
              {{ toppings.value?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="pizza">
    <app-pizza-view [pizzas]="filteredPizzas"> </app-pizza-view>
  </div>

  <div class="pasta">
    <app-pasta-view [pastas]="filteredPastas"></app-pasta-view>
  </div>
</div>
