<div class="container-navbar">
  <div class="container-btn">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-ham">Menu</button>
    <mat-menu #menu="matMenu"
      ><div>
        <button mat-menu-item>
          <a [href]="['/home-page']">Strona Główna</a>
        </button>
        <button mat-menu-item><a [href]="['/pizza-page']">Pizza</a></button>
        <button mat-menu-item><a [href]="['/pizza']">Makarony</a></button>
      </div>
    </mat-menu>
  </div>
  <div>
    <div class="wrapper">
      <div class="user-interface">
        <a [href]="['/']" class="material-icons">Koszyk </a
        ><a [href]="['/account']" class="material-icons">Profil</a>
      </div>
    </div>
  </div>
</div>
