<div class="container-navbar">
  <div class="container-btn">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-ham">Menu</button>
    <mat-menu #menu="matMenu"
      ><div>
        <button mat-menu-item>
          <a [routerLink]="['/home-page']">Strona Główna</a>
        </button>
        <button mat-menu-item>
          <a [routerLink]="['/pizza-page']">Pizza</a>
        </button>
        <button mat-menu-item>
          <a [routerLink]="['/pasta-page']">Makarony</a>
        </button>
      </div>
    </mat-menu>
  </div>
  <div>
    <div class="wrapper">
      <div class="user-interface">
        <a [routerLink]="['/shopping-page']" class="material-icons">Koszyk </a>
      </div>
    </div>
  </div>
</div>
