<h2>Makaron</h2>
<div class="dish-wrapper-column">
  <mat-list>
    <mat-list-item *ngFor="let pasta of pastas">
      <div matLine>
        <img
          class="dish-image"
          [src]="
            'http://api.listekbazylii32.pl/images/e2ab4906-1e36-4d06-9e99-0321ed3e4dd0.jpg' +
            pasta.image
          "
          alt=""
        />
      </div>
      <div class="dish-info">
        <div matLine class="dish-element-title">{{ pasta.name }}</div>
        <div matLine class="dish-element-info">{{ pasta.toppings }}</div>
        <div matLine class="dish-element-options--element">
          Cena {{ pasta.price }} zł
        </div>
        <div class="shop-btn" matLine>
          <button mat-raised-button>DODAJ DO KOSZYKA</button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
